body {
    margin: 0;
    padding: 0;
    height: 80rem;
}

#btn-toggle-nav p {
    width: 2rem;
    height: 0.2rem;
    padding: 0.05rem;
    background: #ffffff;
    border-radius: 2px;
    margin-left: 0.5rem;
    margin: 0.4rem;
}

#btn-toggle-nav  {
    z-index: 1000;
    height: 42px;
    width: 48px;
    background-color: rgb(0, 0, 0);
    position: fixed;
}

#btn-toggle-nav.active {
    z-index: 1000;
    height: 42px;
    width: 48px;
    background-color: rgb(0, 0, 0);
    position: fixed;
}


#sidebar {
    z-index: 500;
    margin: 0;
    padding: 0;
    height:100vh;
    background-color: rgb(0, 0, 0);
    width: 12rem;
    position: fixed;
    left: -16rem;
    transition: all 0.5s ease-in-out;
}

#sidebar.active {
    left: 0rem;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 42px;
    margin-left: 48px;
}
.navbar ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 50rem;
    margin-left: 35%;
    padding:1px;
    list-style-type: none;
}

.navbar a {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
    padding: 5px;
    display: inline-block;
}


#sidebar ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    margin-top: 5rem;
    padding-bottom: 20px;
    padding: 11px;
}


#sidebar li {
    /* float: left; */
    margin-bottom: 18px;

    
}

#sidebar a {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
    padding: 5px;
    display: inline-block;
}

#sidebar a:hover {
    color: #02284b;
    /* text-shadow: 5px 4px 6px #02284b; */
    transition: 0.5s;
    
}

.logo img {
    width: 15rem;
    height: auto;
    position: absolute;
    top: 40%;
    left: 25%;
}

.rotator {
    width: 13rem;
    height: 13rem;
    top: 33.2%;
    left: 21.6%;
    position: absolute;
    transform: rotateZ(90deg);
    animation: spin 5s linear 5;
}

@keyframes spin {
    from {transform: rotateZ(90deg);}
    to   {transform: rotateZ(450deg);}
}

 .rotator div{
    background: rgb(0, 0, 0);
    border-radius: 100%;
    position: absolute;
}

@keyframes vanish {
  0% {opacity: 0;}
  15%{opacity: 0;}
  18% {opacity: 1;}
  100%{opacity: 1;}
}

.one {
    padding: 1rem;
    width: 0.2rem;
    height: 0.2rem;
    left: 43%;
    bottom: 0;
    animation: vanish 5s ease 5 2s;
}

.two {
    padding: 0.8rem;
    width: 0.2rem;
    height: 0.2rem;
    left: 19%;
    bottom: 14%;
    animation: vanish 5s ease 5 1.5s;
}

.three {
    padding: 0.6rem;
    width: 0.2rem;
    height: 0.2rem;
    left: 9%;
    bottom: 37%;
    animation: vanish 5s ease 5 1s;
}

.four {
    padding: 0.4rem;
    width: 0.2rem;
    height: 0.2rem;
    left: 13%;
    bottom: 61%;
    animation: vanish 5s ease 5 0.5s;
}

.five {
    padding: 0.2rem;
    width: 0.2rem;
    height: 0.2rem;
    left: 32%;
    bottom: 79%;
    animation: vanish 5s ease 5;
}

.brands img {
    width: 30rem;
    height: calc(100vh - 3rem);
    position: absolute;
    right: 15%;
    top: 3rem;
}

